.navigation {
    z-index: 1;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    padding: 7px 0;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 20px;
}

.navigation__logo, .home, .user {
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.navigation__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home, .home svg, .user, .user svg{
    width: 25px;
    height: 25px;
}
.navigation__icons {
    align-items: center;
    display: flex;
    gap: 20px;
}

.navigation__search input{
    position: relative;
    outline: none;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    text-align: center;
    padding: 5px 20px;
}

.navigation__search {
    z-index: 2;
}

.navigation__search input:focus{
    text-align: start;
}

.search__results {
    overflow-y: auto;
    z-index: 2;
    position: fixed;
    top: 50px;
    left: 650px;
    right: 320px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #fff;
    width: 300px;
    height: 300px;
}


.result__logo {
    font-size: 30px;
}

.result__name {
    font-size: 13px;
    color: #8E8E9D;
}

.result {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.result:hover {
  background-color: RGBA(77,68,80,0.1);
}

.result__username {
    font-size: 16px;
}

.search {
    font-size: 15px;
    /*font-family: mont;*/
    /*font-weight: 400;*/
}