.post{
    overflow: hidden;
    border: 1px solid #DBDBDB;
    margin-bottom: 40px;
}
.post__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 35em;
    height: 35em;
}

.post__head {
    cursor: pointer;
    padding: 20px 5px;
    background-color: #fff;
    display: flex;
    /*align-items: center;*/
    gap: 15px;
}

.head__avatar {
    font-size: 20px;
    margin-left: 10px;
}

.text__username {
    font-size: 16px;
    font-weight: 700;
}

.text__geo {
    font-size: 12px;
    font-weight: 400;
}

.post__footer {
    padding: 5px;
}

.footer__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}

.like-comment {
    display: flex;
    align-items: center;
    gap: 15px;
}
.like-action, .comment-action, .save-action {
    cursor: pointer;
}

.footer__likes {
    margin-bottom: 10px;
}