.sidebar {
    width: 400px;
    margin-left: 20px;
    position: fixed;
    right: 200px;
    margin-top: 30px;
}

.account__user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.account__avatar {
    font-size: 35px;
}

.account__username {
    font-size: 16px;
    font-weight: 700;
}

.account__small {
    color: #7b7b7b;
}


.sidebar__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.head__title {
    font-size: 14px;
    font-weight: 700;
    color: #bdbcbc;
}

.recommended {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.recommended__user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.recommended__avatar {
    font-size: 20px;
}

.recommended__username {
    font-size: 14px;
    font-weight: 700;
}

.recommended__small {
    font-size: 12px;
    font-weight: 400;
    color: #b6b5b5;
}

.recommended__subscribe a {
    font-weight: 500;
    text-decoration: none;
    color: #20A2F7;
    font-size: 14px;
}